.container {

}

.carousel {
    width: 100%;
    position: relative;
    border: 1px solid red;
}

.carousel__item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    /* top: 0; */
    /* left: 0; */
    /* position: absolute; */
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.carousel__item > iframe {

    grid-row: span 2;
    aspect-ratio: 16 / 9;
} 

.carousel__item > img {
    display: block;
}

.carousel__item--selected {
    z-index: 99;
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
}






