<div class="container">
    <div class="carousel">
        <div class="carousel__item carousel__item--selected">
            <img src="{{item.urlImage}}" alt="{{item.nome}} - img.">
            <div class="carousel__item__info">
                {{item.nome}}
            </div>
        </div>
    </div>
    
    <button class="carousel__arrow carousel__arrow--prev" (click)="goToPrevious()">
        <span class="material-symbols-rounded">
            arrow_back_ios_new
        </span>
    </button>
    <button class="carousel__arrow carousel__arrow--next" (click)="goToNext()">
        <span class="material-symbols-rounded">
            arrow_forward_ios
        </span>
    </button>
</div>

