<div class="container">    
    <section #carousel class="carousel" 
      (window:load)="getInitialCarouselWidth(carousel.offsetWidth)"
      (window:resize)="updateCarouselWidth(carousel.offsetWidth)"
      (mouseover)="pauseAutoSlide()"
      (mouseout)="playAutoSlide()"
      >
      <div 
        class="carousel__item" 
        *ngFor="let item of items; let i = index" 
        [ngStyle]="{'transform': 'translateX(-' + animate() + 'px)' }"
        [id]="'item-'+i"
        >
        <img class="carousel__item__img" src="{{item.urlImage}}" alt="{{item.nome}} - img">
        <div class="carousel__item__info">
          <div class="carousel__item__info__nome-nota-likes">
            <p class="carousel__item__nome singleline-truncate">{{item.nome}}</p>
            <div class="carousel__item__info__icon-display">
              <p>{{item.nota}} </p>
              <span class="material-symbols-rounded carousel__icon--star">star</span>
            </div>
            
            <div class="carousel__item__info__icon-display ">
              <span class="material-symbols-rounded carousel__icon--favorite">favorite</span>
              <p> {{item.likes | number: '1.3-3'}}</p>
            </div>
          </div>
          <div class="carousel__item__info__descricao">
            <p class="multiline-truncate">{{item.descricao}}</p>
          </div>
        </div>
      </div>
    </section>
  
    <section class="carousel__controls">
      <div class="carousel__arrow carousel__arrow--prev" (click)="goToPrevious()">
        <span class="material-symbols-rounded">
          arrow_back_ios_new
        </span>
      </div>
    
      <div class="carousel__jumpers">
        <div
          (click)="goTo(i)"
          class="jumpers__jumper" 
          *ngFor="let item of items; let i = index" 
          [ngClass]="i === currentIndex ? 'jumpers__jumper--current' : ''">
        </div>
      </div>
    
      <div class="carousel__arrow carousel__arrow--next" (click)="goToNext()">
        <span class="material-symbols-rounded">
          arrow_forward_ios
        </span>
      </div>
    </section>
  
  </div>
