
:root {
    --bg-dark: #121212;

    --text-primary: white;
    --text-secondary: rgb(218, 218, 218);

    --carousel-border-radius: .5rem;
    --carousel-max-width: 55rem;
}


*,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
    color-scheme: dark;
}

h1, p {
    margin: 0;
}